<!-- team starts
<section class="team section-padding" id="team">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2>Our Team</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="hovr col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="../../../assets/team-1.jpg" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Jack Wilson</h3>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                  

                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
          <div class="hovr col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="../../../assets/team-2.jpg" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Jack Wilson</h3>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
          <div class="hovr col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="../../../assets/team-3.jpg" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Jack Wilson</h3>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
          <div class="hovr col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="../../../assets/team-4.jpg" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Jack Wilson</h3>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section> -->
<section class="team">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header text-center pb-5">
                <h2 class="jtp">Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
            </div>
        </div>
    </div>
<div class="box-container">
    
	<div class="box-item" >
    <div class="flip-box">
      <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-1.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Tamoor</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-1.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Tamoor</h3>
          <p>A short sentence describing this callout is.</p>
          <p class="socials">
            <i class="bi bi-twitter text-white mx-1"></i>
            <i class="bi bi-facebook text-white mx-1"></i>
            <i class="bi bi-linkedin text-white mx-1"></i>
            <i class="bi bi-instagram text-white mx-1"></i>
        </p>
        </div>
      </div>
    </div>
	</div>

    <div class="box-item">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
            <div class="inner color-white">
                <img src="../../../assets/team-2.jpg" alt="" class="img-fluid rounded-circle">
                <h3 class="flip-box-header">Kamran </h3>
              <p>A short sentence describing this callout is.</p>
              <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
            <div class="inner color-white">
                <img src="../../../assets/team-2.jpg" alt="" class="img-fluid rounded-circle">
              <h3 class="flip-box-header">Kamran</h3>
              <p>A short sentence describing this callout is.</p>
              <p class="socials">
                <i class="bi bi-twitter text-white mx-1"></i>
            <i class="bi bi-facebook text-white mx-1"></i>
            <i class="bi bi-linkedin text-white mx-1"></i>
            <i class="bi bi-instagram text-white mx-1"></i>
            </p>
            </div>
          </div>
        </div>
        </div>


	<div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-1.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Omer</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-1.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Omer</h3>
          <p>A short sentence describing this callout is.</p>
          <p class="socials">
            <i class="bi bi-twitter text-white mx-1"></i>
        <i class="bi bi-facebook text-white mx-1"></i>
        <i class="bi bi-linkedin text-white mx-1"></i>
        <i class="bi bi-instagram text-white mx-1"></i>
        </p>
        </div>
      </div>
    </div>
	</div>


	<div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-2.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Mujhaid</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
        <div class="inner color-white">
            <img src="../../../assets/team-2.jpg" alt="" class="img-fluid rounded-circle">
          <h3 class="flip-box-header">Mujhaid</h3>
          <p>A short sentence describing this callout is.</p>
          <p class="socials">
            <i class="bi bi-twitter text-white mx-1"></i>
            <i class="bi bi-facebook text-white mx-1"></i>
            <i class="bi bi-linkedin text-white mx-1"></i>
            <i class="bi bi-instagram text-white mx-1"></i>
          </p>
        </div>
      </div>
    </div>
	</div>
</div>
</div>
</section>
<!-- team ends -->