  <footer class="bgfooter">
    <div class="container cont-1">
      <div class="row ro1" >
        <div class="first-col" >
          <h5><i class="fa fa-phone spc"></i> +92 316 0521967</h5><br>
          <h5><i  class="fa fa-envelope spc" style="color:white"></i> sakhawatabasi9@gmail.com</h5><br>
          <h5> <i class="fa fa-map-marker spc"></i> E11/4 Islambad</h5>
        </div>
      </div>

        <div class="row sec1-row">
          <base target="_blank"/>
          <ul class="sec-col">
            <li><a ><img class="img1" src="../../../assets/fb.png"/> </a></li>
            <li><a ><img class="img1" src="../../../assets/Google.png"/> </a></li>
            <li><a ><img class="img1" src="../../../assets/instragram.png"/> </a></li>
            <li><a ><img class="img1" src="../../../assets/linkin.jpg"/> </a></li>
            <li><a ><img class="img1 bg-white" src="../../../assets/github.png"/> </a></li>
            <li><a ><img class="img1" src="../../../assets/twitter.png"/></a></li>
          </ul>        
        </div>
    </div>
     <div class="text1-end">
        <span> © Created by Sakhawat Abbasi in 2023</span>
       </div>
  </footer>
