<!-- portfolio strats -->
<section id="portfolio" class="portfolio section-padding1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 pt-5">
                <div class="section-header text-center pb-5">
                    <h2 class="jtp">Our Projects</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hovr col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area1 mb-4">
                          <img src="../../../assets/project-1.jpg" class="img-fluid" alt="">
                      </div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="hovr col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area1 mb-4">
                          <img src="../../../assets/project-2.jpg" class="img-fluid" alt="">
                      </div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn bg-warning text-dark">learn More</button>
                    </div>
                </div>
            </div>
            <div class="hovr col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area1 mb-4">
                          <img src="../../../assets/project-3.jpg" class="img-fluid" alt="">
                      </div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- portfolio ends -->